<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="col-md-6">
    <h3 class="dark-grey">Registration</h3>

    <div class="form-group col-lg-12">
      <label>Username <i class="fa fa-info-circle" aria-hidden="true" mdTooltip="3 to 15 characters with any lower case character, digit or special symbol “_-” only"></i></label>
      <input type="text" class="form-control" id="username" formControlName="username">
      <small [hidden]="userForm.controls['username'].valid || userForm.controls['username'].pristine"  class="warning">Username is not valid</small>
    </div>

    <div formGroupName="passwords">
      <div class="form-group col-lg-6">
        <label>Password <i class="fa fa-info-circle" aria-hidden="true" mdTooltip="Use more than 8 Characters"></i></label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <span [hidden]="userForm.controls['passwords']['controls'].password.valid  || userForm.controls['passwords']['controls'].password.pristine"  class="warning">Passwords is not valid</span>
      </div>

      <div class="form-group col-lg-6">
        <label>Repeat Password</label>
        <input type="password" class="form-control" id="passwordRepeat" formControlName="passwordRepeat">
        <span [hidden]="!userForm.controls['passwords'].hasError('isEqual') || userForm.controls['passwords']['controls'].passwordRepeat.pristine"  class="warning">Passwords do not match</span>
      </div>
    </div>

    <div formGroupName="emails">
      <div class="form-group col-lg-6">
        <label>Email Address <i class="fa fa-info-circle" aria-hidden="true" mdTooltip="Use a valid Email"></i></label>
        <input type="" class="form-control" id="email" formControlName="email">
        <span [hidden]="userForm.controls['emails']['controls'].email.valid || userForm.controls['emails']['controls'].email.pristine"  class="warning">Email is not valid</span>
      </div>

      <div class="form-group col-lg-6">
        <label>Repeat Email Address</label>
        <input type="" class="form-control" id="emailRepeat" formControlName="emailRepeat">
        <span [hidden]="!userForm.controls['emails'].hasError('isEqual') || userForm.get('emails.emailRepeat').pristine"  class="warning">Emails do not match</span>
      </div>
      <alert></alert>
    </div>


  </div>

  <div class="col-md-6">
    <h3 class="dark-grey">Terms and Conditions</h3>
    <p>
      By clicking on "Register" you agree to The Company's' Terms and Conditions
    </p>
    <p>
      Donec bibendum turpis et ullamcorper ornare. Nulla quis ex arcu. Etiam accumsan urna a convallis varius. Praesent vestibulum,
      lorem et accumsan rutrum.
    </p>
    <p>
      Donec bibendum turpis et ullamcorper ornare. Nulla quis ex arcu. Etiam accumsan urna a convallis varius. Praesent vestibulum
    </p>
    <p>
      lorem et accumsan rutrum, ex dui malesuada risus, at volutpat nibh orci id elit. Proin et sodales libero.
    </p>

    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Register</button>
  </div>
</form>
