<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <app-nav></app-nav>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

      <div class="container">
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <router-outlet></router-outlet>
      </div>
      <hr>

      <footer>
        <p>&copy; 2017 Harsha Jayamanna, Inc.</p>
      </footer>
    </div> <!-- /container -->
